[delayed_gcode start_pa_test]
gcode:
  {% set vars = printer["gcode_macro RUN_PA_TEST"] %}
  # Add your start GCode here, for example:
  # G28
  # M190 S{vars.bed_temp}
  # M109 S{vars.hotend_temp}
  M190 S{vars.bed_temp} # Heat bed and wait
  M104 S{vars.hotend_temp-60} # Pre-heat hotend to target-60C to prevent oozing 
  RESPOND TYPE=command MSG='Homing printer'
  PROBE_LOCK
  SET_VELOCITY_LIMIT VELOCITY=300 ACCEL=10000 # Lower velocity for setup moves
  G28 # home
  Z_TILT_ADJUST SAMPLES=1 RETRY_TOLERANCE=0.02
  Z_TILT_ADJUST SAMPLES=1
  G28 Z
  PROBE_UNLOCK
  PROBE_DETACH
  G1 X20 Y20 Z20 F3000  # Safe spot to heat up nozzle
  RESPOND TYPE=command MSG='Heating Hotend. Please wait'
  M109 S{vars.hotend_temp} # Heat hotend and wait
  _PURGE_LINE
  SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel}  # Restore velocity to default
  G92 E0 # Reset Extruder
  RESPOND TYPE=command MSG='Print Started'
  G90

    
  {% set flow_percent = vars.flow_rate|float * 100.0 %}
  {% if flow_percent > 0 %}
      M221 S{flow_percent}
  {% endif %}
  {% set height = printer.configfile.settings.pa_test.height %}  
  {% set pavalue = vars.pa_value %}
  ; If pa_value is 0 then we test the full pa range starting from 0
  {% if  vars.pa_value == 0 %} 
      TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.005
  {% else %}
      ; make sure that delta and start can not be lower then 0
      {% if vars.pa_value - vars.pa_range <= 0%} 
          {% set delta = vars.pa_range %}
          {% set start = 0 %}
      {% else %}
          ; calculate the pa range that we want to test
          {% set delta = (vars.pa_value + vars.pa_range)  - (vars.pa_value - vars.pa_range)  %} 
          ; calculate the pa start value
          {% set start = vars.pa_value - vars.pa_range %} 
      {% endif %}
      TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START={start} FACTOR={delta / height}
  {% endif %}
  ; PRINT_PA_TOWER must be the last command in the start_pa_test script:
  ; it starts a print and then immediately returns without waiting for the print to finish
  PRINT_PA_TOWER {vars.rawparams} FINAL_GCODE_ID=end_pa_test

[delayed_gcode end_pa_test]
gcode:
  # Add your end GCode here, for example:
  M104 S0 ; turn off temperature
  M140 S0 ; turn off heatbed
  M107 ; turn off fan
  G91 ; relative positioning
  G1 Z5 ; raise Z
  G90 ; absolute positioning
  G1 X0 Y200 ; present print
  M84 ; disable steppers
  RESTORE_GCODE_STATE NAME=PA_TEST_STATE

[gcode_macro RUN_PA_TEST]
variable_bed_temp: -1
variable_hotend_temp: -1
variable_pa_value: 0             # Used for further tuning of pa value. If value is not 0 than the tested pa value will only be +/- (determined by the pa_range variable) around of the pa_value variable
variable_pa_range: 0.03          # Only use if pa_value is set to heigher than 0. Used to set the +/- area around pa_value that should be tested
variable_flow_rate: -1
variable_rawparams: ''
gcode:
  # Fail early if the required parameters are not provided
  {% if params.NOZZLE is not defined %}
  {action_raise_error('NOZZLE= parameter must be provided')}
  {% endif %}
  {% if params.TARGET_TEMP is not defined %}
  {action_raise_error('TARGET_TEMP= parameter must be provided')}
  {% endif %}
  SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=bed_temp VALUE={params.BED_TEMP|default(60)}
  SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=hotend_temp VALUE={params.TARGET_TEMP}
  SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=pa_value VALUE={params.PA_VALUE|default(0)}
  SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=pa_range VALUE={params.PA_RANGE|default(0.01)}
  SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=flow_rate VALUE={params.FLOW_RATE|default(-1)}
  SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=rawparams VALUE="'{rawparams}'"
  SAVE_GCODE_STATE NAME=PA_TEST_STATE
  UPDATE_DELAYED_GCODE ID=start_pa_test DURATION=0.01

[ringing_test]

[delayed_gcode start_ringing_test]

gcode:
  {% set vars = printer["gcode_macro RUN_RINGING_TEST"] %}
  # Add your start GCode here, for example:
  # G28
  # M190 S{vars.bed_temp}
  # M109 S{vars.hotend_temp}
  # M106 S255
  M190 S{vars.bed_temp} # Heat bed and wait
  M104 S{vars.hotend_temp-60} # Pre-heat hotend to target-60C to prevent oozing 
  RESPOND TYPE=command MSG='Homing printer'
  PROBE_LOCK
  SET_VELOCITY_LIMIT VELOCITY=300 ACCEL=10000 # Lower velocity for setup moves
  G28 # home
  Z_TILT_ADJUST SAMPLES=1 RETRY_TOLERANCE=0.02
  Z_TILT_ADJUST SAMPLES=1
  G28 Z
  PROBE_UNLOCK
  PROBE_DETACH
  G1 X20 Y20 Z20 F3000  # Safe spot to heat up nozzle
  RESPOND TYPE=command MSG='Heating Hotend. Please wait'
  M109 S{vars.hotend_temp} # Heat hotend and wait
  _PURGE_LINE
  SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel}  # Restore velocity to default
  G92 E0 # Reset Extruder
  RESPOND TYPE=command MSG='Print Started'
  G90
    
  {% set flow_percent = vars.flow_rate|float * 100.0 %}
  {% if flow_percent > 0 %}
  M221 S{flow_percent}
  {% endif %}
  {% set layer_height = vars.nozzle * 0.5 %}
  {% set first_layer_height = layer_height * 1.25 %}
  PRINT_RINGING_TOWER {vars.rawparams} LAYER_HEIGHT={layer_height} FIRST_LAYER_HEIGHT={first_layer_height} FINAL_GCODE_ID=end_ringing_test

[delayed_gcode end_ringing_test]
gcode:
  # Add your end GCode here, for example:
  M104 S0 ; turn off temperature
  M140 S0 ; turn off heatbed
  M107 ; turn off fan
  G91 ; relative positioning
  G1 Z5 ; raise Z
  G90 ; absolute positioning
  G1 X0 Y200 ; present print
  M84 ; disable steppers
  RESTORE_GCODE_STATE NAME=RINGING_TEST_STATE

[gcode_macro RUN_RINGING_TEST]
variable_bed_temp: -1
variable_hotend_temp: -1
variable_nozzle: -1
variable_flow_rate: -1
variable_rawparams: ''
gcode:
  # Fail early if the required parameters are not provided
  {% if params.NOZZLE is not defined %}
  {action_raise_error('NOZZLE= parameter must be provided')}
  {% endif %}
  {% if params.TARGET_TEMP is not defined %}
  {action_raise_error('TARGET_TEMP= parameter must be provided')}
  {% endif %}
  SET_GCODE_VARIABLE MACRO=RUN_RINGING_TEST VARIABLE=bed_temp VALUE={params.BED_TEMP|default(60)}
  SET_GCODE_VARIABLE MACRO=RUN_RINGING_TEST VARIABLE=hotend_temp VALUE={params.TARGET_TEMP}
  SET_GCODE_VARIABLE MACRO=RUN_RINGING_TEST VARIABLE=nozzle VALUE={params.NOZZLE}
  SET_GCODE_VARIABLE MACRO=RUN_RINGING_TEST VARIABLE=flow_rate VALUE={params.FLOW_RATE|default(-1)}
  SET_GCODE_VARIABLE MACRO=RUN_RINGING_TEST VARIABLE=rawparams VALUE="'{rawparams}'"
  SAVE_GCODE_STATE NAME=RINGING_TEST_STATE
  UPDATE_DELAYED_GCODE ID=start_ringing_test DURATION=0.01
  